@import "tailwindcss";

@theme inline {
  --font-alexandria: var(--font-alexandria);
  --font-thamnyah: var(--font-thamnyah);
}

body {
  @apply font-alexandria bg-black text-white;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

.dark-map .leaflet-tile-pane {
  filter: invert(1) hue-rotate(180deg) brightness(0.95) contrast(0.9);
}

.dark-map {
  background: #1a1a1a;
}

/* منع الـ invert يأثر على الماركرز والبوباب */
.dark-map .leaflet-marker-icon,
.dark-map .leaflet-popup {
  filter: invert(1) hue-rotate(180deg);
}

.leaflet-tooltip {
  background: #1a1a1a !important;
  color: #fff !important;
  border: 1px solid #444 !important;
  font-weight: 600;
  font-size: 13px;
  font-family: var(--font-alexandria) !important;
}

.leaflet-tooltip-bottom:before {
  border-top-color: transparent !important;
  border-color: transparent !important;
}
